# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual Environment
venv/
env/

# Python
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
wheels/
share/python-wheels/
pip-wheel-metadata/
*.manifest
*.spec

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3

# Pycharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
.venv

# Editors
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*~

# Misc
*.env
.env.*
